.MainGridDiv {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr 1fr 1fr;
}

.gridItems {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
