.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid #add8e6ff 5px;
  padding: 10px;
  border-radius: 10px;
  background: none;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 200px;
  cursor: pointer;
}
