.createButton {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 15px;
  border: solid 5px #b5e7a7;
  border-radius: 10px;
  cursor: pointer;
}

.createButton:hover {
  background: #b5e7a7;
}
